<!DOCTYPE html>
<html lang="{{ .Site.Params.LanguageCode }}">

  {{ partial "partials/head.html" . }}
    <body>
      <div class="site-wrapper">


        {{ partial "partials/header.html" . }}

        <div class="site-content">
            <div class="post-content">
              <main id="site-main" class="site-main">
                  <div id="swup" class="transition-fade" data-swup="1">

            <article class="post-content post">
              <header class="post-content-header">
              <h2 class="post-content-title">About</h2>
              </header>

                  <div class="row">
                    <div class="col-12">
                      <div class="post-content-body">
                          <h2>{{ .Page.Params.tagline }}</h2>
                          <figure class="kg-card kg-image-card">
                            <img src="{{ .Page.Params.image }}" width="500" class="kg-image">
                          </figure>
                            {{ .Content }}
                      </div>
                    </div>
                </div>
              </article>
                  </div>
              </main>

            </div>

            {{ partial "partials/footer.html" . }}
    </body>
</html>
