<!DOCTYPE html>
<html lang="{{ .Site.Params.LanguageCode }}">
  {{ partial "partials/head.html" . }}
    <body>
      <div class="site-wrapper">

        {{ partial "partials/header.html" . }}

        <div class="site-content">
            <div class="post-content">
              <main id="site-main" class="site-main">
                  <div id="swup" class="transition-fade" data-swup="1">

            <article class="post-content post">
              <header class="post-content-header">
              <h2 class="post-content-title">Curriculum Vitae</h2>
              </header>
                <div class="col-12">
                    <button class="button large primary" style="display: block; margin-left: auto; margin-right: auto;"><a href="{{ .Site.Data.front.cvUpload }}">Download CV</a></button>
                </div>
              {{ range $.Site.Data.jobs }}
                <div class="col-12">
                  <h3>{{ .title }} <br> {{ .years }}</h3>
                  <figure class="kg-card kg-image-card">
                    <img src="{{ .image }}" class="kg-image">
                  </figure>
                  <h6>{{ .company }} - {{ .address }}</h6>
                  <p>{{ .content | safeHTML }}</p>
                  <div class="row">
                    <div class="col-6">
                      <dt>Tasks</dt>
                      <dd>
                        <ul>
                          {{ range .tasks }}
                          <li>{{ . }}</li>
                          {{ end }}
                        </ul>
                      </dd>
                    </div>
                    <div class="col-6">
                      <dt>Tools</dt>
                      <dd>
                        <ul>
                          {{ range .tools }}
                          <li>{{ . }}</li>
                          {{ end }}
                        </ul>
                      </dd>
                    </div>
                  </div>
                </div>
                  {{ end }}
              </article>
                  </div>
              </main>

            </div>

            {{ partial "partials/footer.html" . }}
   </body>
</html>

