{{ define "main" }}
<div class="site-wrapper">

  {{ partial "partials/header.html" . }}

<main id="site-main" class="site-main">
    <div id="swup" class="transition-fade">


    <header class="page-head">
    <h2 class="page-head-title">{{ .Name | title }}</h2>
    </header>

      <div class="post-feed">
          {{ range .Pages.ByPublishDate.Reverse }}
              <article id="imageLoad" class="post-card  post {{ if eq .Params.wideImage "true" }} post-card-large with-image {{ else }} with-image {{ end }}" style="background-image: url({{ .Params.FeatureImage  }});">
              <a class="post-card-link" href="{{ .RelPermalink }}">
              <div class="post-card-content">
                  <h2 class="post-card-title">{{ .Title }}</h2>
              </div>
              </a>
              </article>
          {{ end }}
      </div>
    </div>
  </main>
  </div>

{{ end }}
