{{ define "main" }}
<div class="site-wrapper">

{{ partial "partials/header.html" . }}

<main id="site-main" class="site-main">
  <div id="swup" class="transition-fade" data-swup="1">


<article class="post-content post ">

<header class="post-content-header">
<h1 class="post-content-title">{{ .Title }}</h1>
</header>

<p class="post-content-excerpt">{{ .Page.Params.subTitle }}</p>

{{ with .Page.Params.FeatureImage }} 
  <div class="post-content-image">
    <img class="kg-image" src="{{ . }}">
  </div>
{{ end }}

<div class="post-content-body">
{{ .Content }}
{{ if .Page.Params.imagesReg }}
  <div class="flexContainer">
    {{ range .Page.Params.imagesReg }}
          <div class="flexItem kg-card kg-image-card">
            <a href="#{{ . }}"><img src="{{ . }}" class="kg-image"></a>
          </div>
    {{ end }}
  </div>
{{ end }}

{{ range .Page.Params.imagesWide }}
       <figure class="kg-card kg-image-card kg-width-wide">
        <a href="#{{ . }}"><img src="{{ . }}" class="kg-image"></a>
      </figure>
    {{ end }}
  {{ range .Page.Params.imagesLarge }}
        <figure class="kg-card kg-image-card kg-width-full">
          <a href="#{{ . }}"><img src="{{ . }}" class="kg-image"></a>
        </figure>
      {{ end }}
</div>
      </article>
    </div>
  </main>
  {{ range .Page.Params.imagesReg }}
    <div class="lightbox-target" id="{{ . }}">
      <img src="{{ . }}"/>
      <a class="lightbox-close" href="#"></a>
   </div>
   {{ end }}
{{ end }}
