---
layout: default
title: "#Tags"
description: "Search by specific tags"
---

<div class="container">
  <div class="row">
    <div class="col s12" style="padding-bottom: 1%;"></div>
    <div class="col s12">
      <div class="tags tags-collection">
        {% assign tags_list = site.tags %}
        {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
        <a href="#{{ tag | slugify }}"><div class="chip"><b>{{ tag }}</b></div></a>
        {% endfor %}
        {% else %}
        {% for tag in tags_list %}
        <a href="#{{ tag[0] | slugify }}"><div class="chip"><b>{{ tag[0] }}</b></div></a>
        {% endfor %}
        {% endif %}
        {% assign tags_list = nil %}
      </div>
    </div>
  </div>
  <div class="tagged-posts">
    {% for tag in site.tags  %}
    <span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] }}</span>
    <ul class="post-list">
      {% assign pages_list = tag[1] %}
      {% for post in pages_list reversed %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="post-title"><li>
          <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{% include date.html date=post.date %}</time></span>
          <span class="truncate">{{ post.title }}</span>
      </li></a>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
      </ul>
      {% endfor %}
    </div>
</div>