<section class="row valign-wrapper" itemprop="author">
  <div class="ol s12" itemscope itemtype="http://schema.org/Person">
    <div class="col s12 m4 offset-m1 l4 offset-l1">
      <img itemprop="image" src="{{site.baseurl}}/assets/images/profile.png" alt="{{site.name}}" class="circle author-img responsive-img">
    </div>
    <div class="col s12 m7 author-info">
      <h5 class="">Author</h5>
      <h4>{{ site.name }}</h4>
      <p class="author-description">{{ site.user_description }}</p>
      <div class="contact-info">
        <a class="btn-floating btn-large waves-effect waves-light pink" href="https://github.com/{{site.github_username}}" class="social-media-icon" target="_blank">
        <i class="fab fa-github"></i></a>
        <a class="btn-floating btn-large waves-effect waves-light pink" href="https://www.unsplash.com/{{site.unsplash_username}}" class="social-media-icon" target="_blank">
        <i class="material-icons">camera</i></a>
        <a class="btn-floating btn-large waves-effect waves-light pink" href="https://www.instagram.com/{{site.instagram_username}}" class="social-media-icon" target="_blank">
        <i class="fab fa-instagram"></i></a>
        <a class="btn-floating btn-large waves-effect waves-light pink" href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="social-media-icon" target="_blank">
        <i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</section>

