<!-- Cookie Consent by https://PrivacyPolicies.com -->
<script type="text/javascript" src="//PrivacyPolicies.com/cookie-consent/releases/2.0.0/cookie-consent.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","cookies_policy_url":"/privacy","website_name":"https://antvd.space"});
});
</script>

<!-- Google Analytics -->
<script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=UA-131308933-1"></script>
<script type="text/plain" cookie-consent="tracking">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131308933-1');
</script>

<!-- end of Google Analytics-->

<noscript>Cookie Consent by <a href="https://privacypolicies.com/">Privacy Policies</a></noscript>
<!-- End Cookie Consent -->
