  <!-- Preloader Overlay code -->

  <div class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar with Dropdown Menu Code -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{site.baseurl}}/index" class="brand-logo center-align"><img src="{{site.baseurl}}/assets/images/avdeanlogo.png" style="width:50%;"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{site.baseurl}}/projects">Projects</a></li>
        <li><a href="{{site.baseurl}}/career">Career</a></li>
        <li><a href="{{site.baseurl}}/services">Services</a></li>
        <li><a href="{{site.baseurl}}/about">About Me</a></li>
        <li><a href="{{site.baseurl}}/blog">Blog</a></li>
        <li><a href="{{site.baseurl}}/contact">Contact</a></li>
      </ul>
      <ul class="left hide-on-desktop-only">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
      <!-- Mobile Site Navbar -->
      <ul id="slide-out" class="sidenav">
        <li><a href="{{site.baseurl}}/index">Home</a></li>
        <li><a href="{{site.baseurl}}/projects">Projects</a></li>
        <li><a href="{{site.baseurl}}/career">Career</a></li>
        <li><a href="{{site.baseurl}}/services">Services</a></li>
        <li><a href="{{site.baseurl}}/about">About Me</a></li>
        <li class="divider"></li>
        <li><a href="{{site.baseurl}}/blog">Blog</a></li>
        <li><a href="{{site.baseurl}}/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
<!-- end of nav bar -->
