{{ define "main" }}
<div class="site-wrapper">

    <header class="site-head">
        <div class="site-head-container">
            <a class="nav-burger" href="#">
                <div class="hamburger hamburger--collapse" aria-label="Menu" role="button" aria-controls="navigation">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="swup" class="site-head-left">
                <ul class="nav" role="menu">
                  {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                    <a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" role="menuitem" href="{{ .URL | absLangURL }}">{{ .Name | title }}</a>
                  {{ end }}
                </ul>

            </nav>
            <div class="site-head-center">
              <a class="site-head-logo" href="#">Antvd.Space</a>
            </div>
            <div class="site-head-right">
              <div class="social-links">
                <a href="https://github.com/avdean" title="Github" target="_blank">Github</a>
                <a href="https://linkedin.com/in/antvilladean" title="LinkedIn" target="_blank">LinkedIn</a>
                <a href="https://www.instagram.com/antvd.captured" title="Instagram" target="_blank">Instagram</a>
              </div>
            </div>
        </div>
    </header>

<main id="site-main" class="site-main">
  <div id="swup" class="transition-fade" data-swup="1">


<article class="post-content post ">

<header class="post-content-header">
<h1 class="post-content-title">404 Error</h1>
</header>

<p class="post-content-excerpt">That page doesn't seem to exist</p>

  </main>
{{ end }}
