/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

b, strong {font-weight:bold}

.button-collapse {
  color: #26a69a;
}

.tagButton {
  background: linear-gradient(to right, #007991, #009191);
  text-transform: capitalize;
  font-weight: bold;
  color:white;
  font-family: Quicksand;
}
.highlight:hover {
  filter: brightness(150%);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Quicksand', sans-serif;
font-weight: 500;
}

.card-title  {
  font-family: 'Quicksand', sans-serif;
}

.dropdown-content {
  font-family: 'Quicksand', sans-serif;
}

.pink-text, .teal-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

/* Gradient Background */
.chitty {
  background-color:#007991;
  font-family: 'Quicksand', sans-serif;
  }

/* Gradient Title */
.coolGradient {
  text-transform: uppercase;
  background: linear-gradient(to right, #007991, #78ffd6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  color: #007991;;
}





/* Start of Masonry */
@media only screen and (max-width : 600px) {
  .grid-sizer,
  .grid-item {
    width:100%;
  }
}

@media only screen and (min-width : 600px) {
  .grid-sizer,
  .grid-item {
    width:50%;
  }
}

@media only screen and (min-width : 992px) {
  .grid-sizer,
  .grid-item {
    width:33%;
  }
}

/* end of Masonry */

/* Start of ScrollReveal */
html.sr .load-hidden {
  visibility: hidden;
}

.mini-container {
 padding-left: 5%;
 padding-right: 5%;
}

/* Cookie Dialog */
#gdpr-cookie-message {
    position: fixed;
    right: 30px;
    bottom: 30px;
    max-width: 375px;
    background-color: var(--purple);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
    margin-left: 30px;
    font-family: system-ui;
}
#gdpr-cookie-message h4 {
    color: var(--red);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message h5 {
    color: var(--red);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: white;
    font-size: 15px;
    line-height: 1.5em;
}
#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}
#gdpr-cookie-message a {
    color: var(--red);
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 2px;
    border-bottom: 1px dotted rgba(255,255,255,0.75);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
    color: white;
    border-bottom-color: var(--red);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button,
button#ihavecookiesBtn {
    border: none;
    background: var(--red);
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button:hover {
    background: white;
    color: var(--red);
    transition: all 0.3s ease-in;
}
button#gdpr-cookie-advanced {
    background: white;
    color: var(--red);
}
#gdpr-cookie-message button:disabled {
    opacity: 0.3;
}
#gdpr-cookie-message input[type="checkbox"] {
    float: none;
    margin-top: 0;
    margin-right: 5px;
}
