/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Quicksand', sans-serif;
}

.card-title  {
  font-family: 'Quicksand', sans-serif;
}

.dropdown-content {
  font-family: 'Quicksand:300', sans-serif;
}

.pink-text, .teal-text {
  font-family: 'Quicksand', sans-serif;
}

/* Gradient Background */
.chitty {
  background-color:#007991;
  font-family: 'Quicksand', sans-serif;
  }

/* Gradient Title */
.coolGradient {

 text-transform: uppercase;
  background: linear-gradient(to right, #007991, #78ffd6);
 -webkit-background-clip: text;
   -moz-background-clip: text;
  background-clip: text;
 -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  color: #78ffd6;



}





/* Start of Masonry */
@media only screen and (max-width : 600px) {
  .grid-sizer, 
  .grid-item {
    width:100%;
  }
}

@media only screen and (min-width : 600px) {
  .grid-sizer, 
  .grid-item {
    width:50%;
  }
}

@media only screen and (min-width : 992px) {
  .grid-sizer, 
  .grid-item {
    width:33%;
  }
}

/* end of Masonry */

/* Start of ScrollReveal */
html.sr .load-hidden {
  visibility: hidden;
}

.mini-container {
 padding-left: 5%;
 padding-right: 5%;
}

code {
  background-color: #b2dfdb;
}
