<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">

    <meta name="description" content="The personal website of a native English front-end and content editor
    based in Madrid. Here you can see the projects, posts and jobs Ant has done in the
    past, and also what he can do for you!">
        <title>{{ .Title }} | AntVD.Space</title>

    {{ $css := "css/screen.css" | absURL }}
    <link rel="stylesheet" href="{{ $css }}">
    {{ partial "favicons.html" . }}

</head>
