<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <title>Ant Villa Dean - {{ page.title }}</title>
  <meta name="description" content="Whether you need web design work, photography, or anything else tech related, come check out my website and see if I fit your needs!">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css">

  <link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
 
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/scrollreveal@4"></script>
    <script>
    ScrollReveal().reveal('.grid-item');
  </script>

</head>

<body>
{% include header.html %}

<!-- Parallax Container -->
 {{ content }}

{% include footer.html %}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="/assets/js/materialize.js"></script>
  <script src="/assets/js/init.js"></script>
</body>

</html>
